html, body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

body h1 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 4em;
}

body h2 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 200;
}

.name h1 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 200;
}

label.right {
  position: relative;
  left: 40px;
}
